{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'places'|trans }}</h1>

    <p><a class="btn btn-primary btn-lg" href="{{ path('place_new') }}">{{ 'buttons.add'|trans }}</a></p>
    <div class="lead place">
        {% if places|length > 0 %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>{{ 'place.name'|trans }}</th>
                    <th>{{ 'place.altitude'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for place in places %}
                    <tr>
                        <td><a class="img glyphicon glyphicon-zoom-in" href="{{ path('place_show', { 'id': place.id }) }}"></a></td>
                        <td><a class="img glyphicon glyphicon-edit" href="{{ path('place_edit', { 'id': place.id }) }}"></a></td>
                        <td>{{ place.name }}</td>
                        {% if place.altitude %}
                        <td>{{ place.altitude }}</td>
                        {% else %}
                        <td>-</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p> This list is empty </p>
        {% endif %}
    </div>
{% endblock %}
