{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'place'|trans }}</h1>

    <p><a class="edit-button btn btn-primary btn-lg" href="{{ path('place_edit', { 'id': place.id }) }}">{{ 'buttons.edit'|trans }}</a></p>

    <div class="lead place">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>{{ 'place.name'|trans }}</th>
                    <td>{{ place.name }}</td>
                </tr>
                <tr>
                    <th>{{ 'place.altitude'|trans }}</th>
                    {% if place.altitude %}
                    <td>{{ place.altitude }}</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>

    {% if not isPlaceUsed %}
        {{ form_start(delete_form) }}
        <input class="delete-button btn btn-danger btn-lg" type="submit" value="{{ 'buttons.delete'|trans }}">
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
