{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'flights'|trans }}</h1>

    <p><a class="btn btn-primary btn-lg" href="{{ path('flight_new') }}">Add</a></p>
    <div class="lead place">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>Date</th>
                    <th>Start</th>
                    <th>Landing</th>
                    <th>Time</th>
                    <th>Glider</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                    <tr>
                        <td><a class="img glyphicon glyphicon-zoom-in" href="{{ path('flight_show', { 'id': flight.id }) }}"></a></td>
                        <td><a class="img glyphicon glyphicon-edit" href="{{ path('flight_edit', { 'id': flight.id }) }}"></a></td>
                        <td>{{ flight.date|date("d.m.Y") }}</td>
                        <td>{{ flight.start.name}}</td>
                        <td>{{ flight.landing.name}}</td>
                        <td>{% if flight.time %}{{ flight.time|date('H:i:s') }}{% endif %}</td>
                        <td>{{ flight.glider.brand }} {{ flight.glider.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
