{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1>{{ 'flights'|trans }}</h1>
    
    <p id="toAck">{{ 'flight.to'|trans }}</p>
    <fieldset id="filter">
        <legend><i class="glyphicon glyphicon-chevron-down"></i> {{ 'buttons.filter'|trans }}</legend>
        <form method="get" action=".">
            {{ form_rest(form) }}
            <input class="btn btn-primary btn" type="submit" name="submit-filter" value="{{ 'buttons.filter'|trans }}" />
        </form>
    </fieldset>       
            
    <p>
        <a class="btn btn-primary btn-lg" href="{{ path('flight_new') }}">{{ 'buttons.add'|trans }}</a>
        <a id="exportBtn" class="btn btn-success btn-lg" href="{{ path('flight_export') }}{{ filter }}">{{ 'buttons.csv'|trans }}</a>
    </p>
    <div class="lead place">
        {% if flights|length > 0 %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>{{ 'flight.date'|trans }}</th>
                    <th>{{ 'flight.start'|trans }}</th>
                    <th>{{ 'flight.landing'|trans }}</th>
                    <th>{{ 'flight.time'|trans }}</th>
                    <th>{{ 'flight.glider'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                    <tr>
                        <td><a class="img glyphicon glyphicon-zoom-in" href="{{ path('flight_show', { 'id': flight.id }) }}"></a></td>
                        <td><a class="img glyphicon glyphicon-edit" href="{{ path('flight_edit', { 'id': flight.id }) }}"></a></td>
                        <td>{{ flight.date|date("d.m.Y") }}</td>
                        {% if flight.start %}
                        <td>{{ flight.start.name}}</td>
                        {% else %}
                        <td>-</td>
                        {% endif %}
                        {% if flight.landing %}
                        <td>{{ flight.landing.name}}</td>
                        {% else %}
                        <td>-</td>
                        {% endif %}
                        <td>{% if flight.time %}{{ flight.time|date('H:i:s') }}{% endif %}</td>
                        {% if flight.glider %}
                        <td>{{ flight.glider.brand }} {{ flight.glider.name }}</td>
                        {% else %}
                        <td>-</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p> This list is empty </p>
        {% endif %}
    </div>
{% endblock %}
