{% extends 'base.html.twig' %}

{% block body %}
    <h1>Flight</h1>

    <table>
        <tbody>
            <tr>
                <th>Date</th>
                <td>{% if flight.date %}{{ flight.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{% if flight.time %}{{ flight.time|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ flight.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ flight.price }}</td>
            </tr>
            <tr>
                <th>Km</th>
                <td>{{ flight.km }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ flight.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('flight_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('flight_edit', { 'id': flight.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
