{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'flight'|trans }}</h1>

    <p><a class="edit-button btn btn-primary btn-lg" href="{{ path('flight_edit', { 'id': flight.id }) }}">{{ 'buttons.edit'|trans }}</a></p>

    <div class="lead place">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>{{ 'flight.glider'|trans }}</th>
                    <td>{{ flight.glider.brand }} {{ flight.glider.name }}</td>
                </tr>
                <tr>
                    <th>{{ 'flight.date'|trans }}</th>
                    <td>{% if flight.date %}{{ flight.date|date('d.m.Y') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>{{ 'flight.start'|trans }}</th>
                    <td>{% if flight.start %}{{ flight.start.name }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th>{{ 'flight.landing'|trans }}</th>
                    <td>{% if flight.landing %}{{ flight.landing.name }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th>{{ 'flight.time'|trans }}</th>
                    <td>{% if flight.time %}{{ flight.time|date('H:i') }}{% else %}-{% endif %}</td>
                </tr>
                {% if flight.glider.tandem %}
                    <tr>
                        <th>{{ 'flight.price'|trans }}</th>
                        <td>{% if flight.price %}{{ flight.price }}{% else %}-{% endif %}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{{ 'flight.km'|trans }}</th>
                    <td>{% if flight.km %}{{ flight.km }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th>{{ 'flight.description'|trans }}</th>
                    <td>{% if flight.description %}{{ flight.description }}{% else %}-{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {{ form_start(delete_form) }}
    <input class="delete-button btn btn-danger btn-lg" type="submit" value="{{ 'buttons.delete'|trans }}">
    {{ form_end(delete_form) }}
    
    <h3 id="moreFlights">{{ 'flight.more'|trans }}</h3>
    <p><a class="edit-button btn btn-primary btn-lg" href="{{ path('flight_new') }}">{{ 'buttons.add'|trans }}</a></p>
    <p><a class="edit-button btn btn-primary btn-lg" href="{{ path('flight_copy', { 'id': flight.id }) }}">{{ 'buttons.copy'|trans }}</a></p>
{% endblock %}
