{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Flightbook</a>
            </div>
            <form class="form-inline" action="{{ path("fos_user_security_check") }}" method="post">
                {% include 'UserBundle::login-form.html.twig' ignore missing %}
            </form>
        </div>
    </div>

    <div class="container">
        <div class='login-small'>
            <h1>Flightbook</h1>
            <form class="form" action="{{ path("fos_user_security_check") }}" method="post">
                {% include 'UserBundle::login-form.html.twig' ignore missing %}
            </form>
            <p class='register-link'>Register</p>
        </div>
        <div class="text-center">
            {% if error %}
                <div class="flash-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="flash-error">
                    {{ flash_message }}
                </div>
            {% endfor %}
            <div class="text-left">
                <div class="app-links">
                    <a href="https://play.google.com/store/apps/details?id=ch.flightbook.MobileFlight&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                        <img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" />
                    </a>
                    <a href="https://itunes.apple.com/us/app/flightbook/id1046316231?l=fr&ls=1&mt=8">
                        {% include 'UserBundle::ios.svg.twig' ignore missing %}
                    </a>
                </div>
                <div class="screen">
                    <img src="{{ asset('images/flightbook.png') }}"/>
                </div>
            </div>
            <div class="text-right">
                <h2>Register</h2>
                <form class="form" action="{{ path("fos_user_registration_register") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <div class="form-group">
                        <input class="form-control" placeholder="Firstname" type="text" id="firstname" name="_firstname" required="required" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Lastname" type="text" id="lastname" name="_lastname" required="required" />
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
                        <input class="form-control" placeholder="Email" type="text" id="username" name="_email" required="required" />
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
                        <input class="form-control" placeholder="Password" type="password" id="password" name="_password" required="required" />
                    </div>

                    <input class="btn btn-default" type="submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}" />
                </form>
                <p class='cancel-link'>Cancel</p>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
