<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Flightbook{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}" />
    </head>
    <body>
        <div ng-controller="MainCtrl" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Flightbook</a>
                </div>
                {% set module = app.request.attributes.get('_route')|split('_') %}
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li id="news_menu" class="{% if module[0] == 'news' %}active{% endif %} base_menu"><a href="/{{ app.request.locale }}/">News</a></li>
                        <li id="flight_menu" class="{% if module[0] == 'flight' %}active{% endif %} base_menu"><a href="/{{ app.request.locale }}/flight">{{ 'flights'|trans }}</a></li>
                        <li id="glider_menu" class="{% if module[0] == 'glider' %}active{% endif %} base_menu"><a href="/{{ app.request.locale }}/glider">{{ 'gliders'|trans }}</a></li>
                        <li id="place_menu" class="{% if module[0] == 'place' %}active{% endif %} base_menu"><a href="/{{ app.request.locale }}/place/">{{ 'places'|trans }}</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li id="logout_menu" class="base_menu"><a href="/logout">Logout</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div class="container">
            <div class="text-center">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
            </div>
        </div>
    </body>
</html>
