{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Flightbook{% endblock %}</title>
        <script src={{ asset('js/jquery.min.js') }}></script>
        <script src={{ asset('js/bootstrap.min.js') }}></script>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/login.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}" />
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Flightbook</a>
                </div>
                <form class="form-inline" action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <div class="form-group">
                        <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
                        <input class="form-control" placeholder="Email" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
                        <input class="form-control" placeholder="Password" type="password" id="password" name="_password" required="required" />
                    </div>
                    <div class="form-group group-remember">
                        <input class="form-control" type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>

                    <input class="btn btn-default" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </form>
            </div>
        </div>
        
        <div class="container">
            <div class="text-center">
                {% if error %}
                    <div class="flash-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {% for flash_message in app.session.flashbag.get('error') %}
                    <div class="flash-error">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                <div class="text-left">
                    <div class="app-links">
                        <a href="https://play.google.com/store/apps/details?id=ch.flightbook.MobileFlight&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                            <img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" />
                        </a>
                        <a href="https://itunes.apple.com/us/app/flightbook/id1046316231?l=fr&ls=1&mt=8">
                            {% include 'UserBundle::ios.svg.twig' ignore missing %}
                        </a>
                    </div>
                    <div class="screen">
                        <img src="{{ asset('images/flightbook.png') }}"/>
                    </div>
                </div>
                <div class="text-right">
                    <h2>Register</h2>
                    <form class="form" action="{{ path("fos_user_registration_register") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <div class="form-group">
                            <input class="form-control" placeholder="Firstname" type="text" id="firstname" name="_firstname" required="required" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Lastname" type="text" id="lastname" name="_lastname" required="required" />
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
                            <input class="form-control" placeholder="Email" type="text" id="username" name="_email" required="required" />
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
                            <input class="form-control" placeholder="Password" type="password" id="password" name="_password" required="required" />
                        </div>

                        <input class="btn btn-default" type="submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}" />
                    </form>
                </div>
            </div>
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </body>
</html>
