{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1>{{ 'flight.add'|trans }}</h1>
    
    <a class="save-button btn btn-primary btn-lg" href="{{ path('flight_index') }}">{{ 'buttons.backlist'|trans }}</a>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="save-button btn btn-success btn-lg" type="submit" value="{{ 'buttons.save'|trans }}" />
    {{ form_end(form) }}
{% endblock %}
