{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'gliders'|trans }}</h1>

    <p><a class="btn btn-primary btn-lg" href="{{ path('glider_new') }}">{{ 'buttons.add'|trans }}</a></p>
    <div class="lead place">
        {% if gliders|length > 0 %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>{{ 'glider.buydate'|trans }}</th>
                    <th>{{ 'glider.brand'|trans }}</th>
                    <th>{{ 'glider.name'|trans }}</th>
                    <th>{{ 'glider.tandem'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for glider in gliders %}
                    <tr>
                        <td><a class="img glyphicon glyphicon-zoom-in" href="{{ path('glider_show', { 'id': glider.id }) }}"></a></td>
                        <td><a class="img glyphicon glyphicon-edit" href="{{ path('glider_edit', { 'id': glider.id }) }}"></a></td>
                        {% if glider.buyDate %}
                        <td>{{ glider.buyDate|date("d.m.Y") }}</td>
                        {% else %}
                        <td>-</td>
                        {% endif %}
                        <td>{{ glider.brand }}</td>
                        <td>{{ glider.name }}</td>
                        <td>{% if glider.tandem %}{{ 'buttons.yes'|trans }}{% else %}{{ 'buttons.no'|trans }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p> This list is empty </p>
        {% endif %}
    </div>
{% endblock %}
