{% extends 'base.html.twig' %}

{% block body %}
    <h1>Glider</h1>

    <p><a class="edit-button btn btn-primary btn-lg" href="{{ path('glider_edit', { 'id': glider.id }) }}">Edit</a></p>

    <div class="lead place">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Buydate</th>
                    <td>{% if glider.buyDate %}{{ glider.buyDate|date('d.m.Y') }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th>Brand</th>
                    <td>{{ glider.brand }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ glider.name }}</td>
                </tr>
                <tr>
                    <th>Tandem</th>
                    <td>{% if glider.tandem %}Yes{% else %}No{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>

    {{ form_start(delete_form) }}
    <input class="delete-button btn btn-danger btn-lg" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
